@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 249 249 247;
    --foreground: 51 51 51;
    --card: 255 255 255;
    --card-foreground: 8 28 30;
    --popover: 238 238 238;
    --popover-foreground: 114 114 114;
    --primary: 108 99 255;
    --primary-foreground: 249 249 247;
    --secondary: 238 238 238;
    --secondary-foreground: 114 114 114;
    --muted: 219 219 219;
    --muted-foreground: 143 143 143;
    --accent: 79 70 229;
    --accent-foreground: 255 255 255;
    --destructive: 239 68 68;
    --destructive-foreground: 255 255 255;
    --border: 230 230 235;
    --input: 238 238 238;
    --ring: 230 230 235;

    --android-background: 249 249 247;
    --android-foreground: 51 51 51;
    --android-card: 255 255 255;
    --android-card-foreground: 8 28 30;
    --android-popover: 238 238 238;
    --android-popover-foreground: 114 114 114;
    --android-primary: 108 99 255;
    --android-primary-foreground: 249 249 247;
    --android-secondary: 238 238 238;
    --android-secondary-foreground: 114 114 114;
    --android-muted: 219 219 219;
    --android-muted-foreground: 143 143 143;
    --android-accent: 79 70 229;
    --android-accent-foreground: 255 255 255;
    --android-destructive: 239 68 68;
    --android-destructive-foreground: 255 255 255;
    --android-border: 230 230 235;
    --android-input: 238 238 238;
    --android-ring: 230 230 235;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 30 30 30;
      --foreground: 247 247 249;
      --card: 21 21 24;
      --card-foreground: 255 255 255;
      --popover: 49 48 48;
      --popover-foreground: 193 193 193;
      --primary: 108 99 255;
      --primary-foreground: 249 249 247;
      --secondary: 49 48 48;
      --secondary-foreground: 193 193 193;
      --muted: 163 163 163;
      --muted-foreground: 212 212 212;
      --accent: 64 57 193;
      --accent-foreground: 255 255 255;
      --destructive: 206 58 58;
      --destructive-foreground: 255 255 255;
      --border: 40 40 42;
      --input: 49 48 48;
      --ring: 40 40 42;

      --android-background: 30 30 30;
      --android-foreground: 247 247 249;
      --android-card: 21 21 24;
      --android-card-foreground: 255 255 255;
      --android-popover: 49 48 48;
      --android-popover-foreground: 193 193 193;
      --android-primary: 108 99 255;
      --android-primary-foreground: 249 249 247;
      --android-secondary: 49 48 48;
      --android-secondary-foreground: 193 193 193;
      --android-muted: 163 163 163;
      --android-muted-foreground: 212 212 212;
      --android-accent: 64 57 193;
      --android-accent-foreground: 255 255 255;
      --android-destructive: 206 58 58;
      --android-destructive-foreground: 255 255 255;
      --android-border: 40 40 42;
      --android-input: 49 48 48;
      --android-ring: 40 40 42;
    }
  }
}
